body{
    font-family: 'Montserrat', sans-serif;
    background-color:#f5f8fa;    
}
.main-section{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #fff;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1)
}

/* main content section */

.main-content-section{
    padding: 100px 90px;
}
.main-content-titel{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

/* about me section */

.about-me-section{    
    margin: 0 0 40px 0;
}
.about-me-profession{    
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    font-weight: 700;
    line-height: 17px
    color: #000;
    margin-bottom: 20px; 
}
.about-me-name{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}
.about-me-discription{
    width: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.my-projects-section{
    margin-bottom: 50px;
}

.my-projects-list{
    padding: 0 0 0 17px;
}
.my-projects-item{
    font-weight: bold;
    color: #000000;
}
.my-project-link{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.my-projects-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 5px;
}
.my-progect-bracket{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000; 
}

/* my work experience */

.my-work-ecsperience-company{
    color: #FB6D3A;
}
.my-work-experience-block{
    margin: 15px 0;
}
.my-work-experience-position{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: 0 0 10px 0;
}
.my-work-experience-period{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 0 0 10px 0;
}
.my-work-experience-period-divider{
    color: #000000;
}
.my-work-experience-duties{
    padding: 0 0 0 18px;
}
.my-work-experience-duty{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
/* my education section */

.my-education-section{
    margin: 45px 0 0 0;
    
}
.my-education-company{
    color: #FB6D3A;
}    
.my-education-spetialization{
    font-style: bold;
    font-size: 14px;
    color: #000000;
}

/* sidebar section */

.sidebar-section{
    background-color: #1E2939;
    width: 370px;
    padding: 40px 0;
}

.contacts-section,
.tech-skills-section,
.soft-skills-section{
    margin: 50px 0 0 40px;
    color: #fff;
}
.sidebar-titel{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 10px;
}

/* contacts section*/

.contacts-section-type{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-right: 5px;
}
.contacts-section-link{
    color: #565e56;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;        
}
.contacts-section-link-pfone{
    color: #565e56;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none; 
}

/* tech skills section*/

.tech-skills-list{
    padding: 0 0 0 17px;
}

.tech-skills-item{
    color: #FB6D3A;
}
.tech-skills-item-text{
    color: #fff;
}